$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$bg-color: #F8F8F8;

.body {
  background-color: $bg-color;
}/* You can add global styles to this file, and also import other style files */
